html, body {
    margin:0px;
    height:100%;
  }
  .titleParent {
      height: 10%;
      background: #164A4E;
      display: flex;
      align-items: center;
      justify-content: center;
  
  }
  #null {
      height: 0px;
      width: 0px;
      visibility: hidden;
      background: green;
      
  }
  .titleChild {
      font-size: 5vh;
      font: Georgia, serif;
      color: #F3F3F3;
      display: flex;
      align-items: center;
  }
  .retry {
      background: none;
      border: none;
      color: white;
      font-size: 5vh;
      transform: translate(8vh, 0%);
      cursor: pointer;
  }
  .boardParent {
      height: 55%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background: #508496;
      flex-grow: 1;
      position: relative;
  }
  
  .gridContainer {
    display:  grid;
    grid-template-rows: repeat(6,1fr);
    grid-gap: 5px;
    padding: 10pc;
    box-sizing: border-box;
    position: absolute;
  
  }
  .popUp {
      position: absolute;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      top: 5.2vh;
      width: 28vh;
      height: 12vh;
      font-size: 3.5vh;
      background: #508496;
      color: black;
      font-weight: bold;
      z-index: 9;
      visibility: hidden;
      text-align: center;
      border-radius: 8px;
      border: 4px solid #164A4E;
  }
  
  .row {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 5px;
      
      
  }
  .letter{
      width: 6.5vh;
      height: 6.5vh;
      font-family: Arial, Helvetica, sans-serif; 
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 6.5vh;
      line-height: 6.5vh;
      font-weight: bold;
      vertical-align: middle;
      box-sizing: border-box;
      border: 2px solid #4d4e4f;
      border-radius: 5px;
      color: black;
      text-transform: uppercase;
      user-select: none;
      background: #64888f;
  }
  
  .keysParent {
      height: 35%;
      background: #164A4E;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: auto;
      flex-grow: 1;
  }
  .keysContainer {
      margin: 0 8px;
      padding: 8px;
      user-select: none;
  }
  .keyRow {
      display: flex;
      width: 100%;
      margin: 0 auto 8px;
      touch-action: manipulation;
      max-width: 100vw ;
  }
  
  .key {
      font-weight: bold;
      border: 0;
      padding: 0;
      margin: 0 6px 0 0;
      height: 12.5vh;
      border-radius: 2vh;
      cursor: pointer;
      user-select: none;
      background: #6a91a1;
      color: white;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      width: 6vh;
      height: 6vh;
      font-size: 4vh;
      border: .45vh solid black;
  }
  .enterKey {
      font-weight: bold;
      font-size: 1vh;
      padding: 0;
      margin: 0 6px 0 0;
      height: 12.5vh;
      border-radius: 2vh;
      cursor: pointer;
      user-select: none;
      background-color: #6a91a1;
      color: white;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      width: 6vh;
      height: 6vh;
      font-size: 1.5vh;
      border: .45vh solid black;
  }
  .deleteKey {
      font-weight: bold;
      padding: 0;
      margin: 0 6px 0 0;
      height: 12.5vh;
      border-radius: 2vh;
      cursor: pointer;
      user-select: none;
      background-color: #6a91a1;
      color: white;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      width: 6vh;
      height: 6vh;
      font-size: 4vh;
      border: .45vh solid black;
  }
  .half {
      flex: 0.5;
  }
  .null {
    background: none;
  }